.container {
    position: relative;
    overflow: hidden;
  }
  
  .border-bar {
    position: absolute;
    background-color: black;
  }
  
  .top-bar, .bottom-bar {
    height: 5px; /* Ajuste a altura conforme necessário */
    width: 100%;
  }
  
  .left-bar, .right-bar {
    width: 5px; /* Ajuste a largura conforme necessário */
    height: calc(100% - 10px); /* Altura menos a soma das alturas das barras horizontais */
    position: absolute;
    top: 5px; /* Altura da barra horizontal superior */
  }
  
  .top-bar {
    top: 0;
  }
  
  .bottom-bar {
    bottom: 0;
  }
  
  .left-bar {
    left: 0;
  }
  
  .right-bar {
    right: 0;
  }
  