.container {
  display: flex;
}

.fields {
  margin-right: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}
.parceiro button,
.parceiro button {
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
}

.parceiro-item button:hover,
.parceiro button:hover {
  background-color: #0056b3;
}

.parceiro-item,
.parceiro {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}