
input[type="text"] {
    width: calc(100% - 80px); /* Ajuste conforme necessário */
    padding: 8px;
    margin-right: 10px;
  } 
  
  button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  