.wrapper {
    height: 100vh; /* Define a altura da div para ocupar toda a tela */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin: 0 auto; /* Isso garantirá que haja margens automáticas nos lados quando a tela for grande */
  }
  /* style.css */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure header is on top */
  background-color: #fff; /* Add background color to prevent content bleed-through */
}
 
  @media (max-width: 768px) {
    .main-content {
      padding-top: 35%; /* Adjust this value based on header height */
    }
    
   
  }
   
  .animate-delay {
    animation-delay: 1s; /* Valor padrão */
  }
.wave-animation {
  animation: wave 10s infinite ;
}

@keyframes wave {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .partner-slider {
    overflow: hidden;
    position: relative;
}

.partner-slider img {
    transition: transform 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
}

.partner-slider img.center {
    transform: scale(1.2);
    z-index: 1;
}

.partner-slider img.left {
    transform: scale(0.8) translateX(-50%);
    z-index: 0;
}

.partner-slider img.right {
    transform: scale(0.8) translateX(50%);
    z-index: 0;
}
.changelogs-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.changelogs-list {
  max-height: 200px; /* Defina a altura máxima para o scroll */
  overflow-y: auto; /* Adicione scroll vertical quando necessário */
}

.changelogs-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.changelogs-list ul li {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

input[type="text"] {
  width: calc(100% - 80px); /* Ajuste conforme necessário */
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
